.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: auto;
  column-gap: 1%;
  row-gap: 1%;
  grid-row: auto;
}
@media (min-width: 0px) and (max-width: 720px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 720px) and (max-width: 1000px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
