.detailed-card {
  background-color: #252b43;
  border-radius: 3px;
  color: white;
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-align: center;
  border-top: 3px solid red;
  cursor: pointer;
}
.detailed-card .handle {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.detailed-card .follower-count {
  margin-top: 3vh;
  font-size: 50px;
  font-weight: 600;
}
.detailed-card .follower-label {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.5);
}
.detailed-card .change {
  margin-top: 3vh;
  font-size: 14px;
  color: #90ee90;
}
.detailed-card.light {
  background-color: #f0f3fa;
  color: black;
}
.detailed-card.light .handle {
  color: #505050;
}
.detailed-card.light .follower-label {
  color: #505050;
}
.detailed-card.light .change {
  color: green;
}
