$green1: #43CE90;
$green2: #4896CE;

.switch-container {
    display: flex;
    font-weight: 600;
    justify-content: flex-end;
    p {
        color: hsl(234, 14%, 74%);
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 1px;
    }
}

.switch {
    position: relative;
    width: 60px;
    height: 34px;
  }
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, $green1, $green2);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}